
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(253,104,226,1) 0%, rgba(199,154,255,1) 45%, rgba(37,108,223,1) 100%);
}

.logo{
    width: fit-content;
    height: 40px;
    margin-left: -60px;
}

.user{
    cursor: pointer;
    margin-left: 95px;
    margin-right: -35px;
    font-size: 30pt;
    color: rgb(255, 255, 255);
}

nav{
    background-color:hsla(0, 100%, 30%, 0.3);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul{
    width: 100%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 22px;
    font-size: 12.5pt;
    font-weight: 500;
    letter-spacing: 0.08em;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 6.5%;
    width: 320px;
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.4s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    font-size: 13pt;
}

.img{
    margin-right: 15px;
    font-size: 35px;
    color: black;
}

.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}


.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    font-family: 'Microsoft New Tai Lue';
    margin-top: 2px;
}

.imagenuno{
    width: fit-content;
    height: 30px;
    margin-right: 8px;
}

.sub-menu-link span{
    font-size: 15px;
    transition: transform 0.5s ;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
  display: none;
  position: fixed;
  margin-top: 2px;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: flex;
  transition: 0.5s;
  font-size: 10pt;
  justify-content: space-between;
}

.dropdown-content a:hover {
    background-color: #cac3fa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content span{
    font-size: 15px;
    transition: transform 0.5s;
}

.dropdown-content:hover span{
    transform: translateX(5px);
}

.gamepad{
   width: fit-content;
   height: 150px;
   margin-top: 18px;
   align-items: center;
   margin-left: 250px;
}

.grid{
    display: grid;
    grid-template-columns: 250px 300px;
    grid-template-rows: 200px 0px;
}

.text{
  position: absolute;
  text-align: left;
  left: 36%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgba(43,78,236,1) 0%, rgba(147,255,167,1) 24%, rgba(156,31,255,1) 49%, rgba(255,89,211,1) 75%, rgba(234,255,159,1) 100%);
  background-size: 300%;
  font-family: 'TW Cen MT';
  font-weight: 950;
  font-size: 45pt;
  letter-spacing: 0.08px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_parrafo 6s ease-in-out infinite;
}

@keyframes animated_parrafo{
    0%{
        background-position: 0px 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0px 50%;
    }
}

.box{
    width: 400px;
    height: 255px;
    margin-top: -100px;
    margin-left: 750px;
    text-align: right;
    background: rgb(249, 207, 255);
    position: center;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-color: rgb(80, 21, 110);
    border-width: 15px;
}

.box article{
    margin-top: 10px;
    margin-right: 5px;
    padding: 20px 20px;
    font-size: 13pt;
    text-align: justify;
    font-family: 'Century Gothic';
}

.center{
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: right;
    margin-right: 35px;
}

.outer{
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.button{
    height: 45px;
    width: 135px;
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 25px;
}

.outer button, .outer span{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button{
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 15px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button{
    height: 38px;
    width: 125px;
    border-radius: 50px;
}

.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span{
    border-radius: 50px;
}

.outer span:nth-child(1){
    filter: blur(7px);
}

.outer span:nth-child(2){
    filter:blur(14px);
}

.outer{
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}