img {
	position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
	position: absolute;
}

::-webkit-scrollbar {
	display: none;
}


.main-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-175.82388596164deg, rgba(251.82, 74.62, 148.26, 1) 0%, rgba(189.07, 158.69, 211.44, 0.86000001430511) 48%, rgba(69.52, 74.27, 213.57, 0.94999998807907) 87%);

}

body {
	margin: 0;
	padding: 0;
}

.main-container>.img-1 {
	height: 100vh;
	width: 60vw;
}

.main-container>.img-2 {

	left: 20.5%;
	height: 100vh;
	width: 79vw;
}

.main-container>.img-3 {
	top: 29%;
	left: 0%;
	width: 27vw;
	height: 40vh;
}

.main-container>.barra_de_navegacion {

	width: 100vw;
	height: 12vh;
	background: rgba(230.56, 231.54, 255, 1);
}

.main-container>.barra_de_navegacion>.reportes {
	top: 25%;
	left: 30%;

}


.main-container>.barra_de_navegacion>.reportes>#reportes {

	font-family: Tomorrow;
	font-size: 22px;

}

.main-container>.barra_de_navegacion>.reportes>.dropdown-menu {

	font-family: Tomorrow;
	font-size: 20px;

}

.main-container>.barra_de_navegacion>.agregar {

	top: 25%;
	left: 65%;
}

.main-container>.barra_de_navegacion>.agregar>#agregar {

	font-family: Tomorrow;
	font-size: 22px;

}

.main-container>.barra_de_navegacion>.agregar>.dropdown-menu {

	font-family: Tomorrow;
	font-size: 20px;

}


.main-container>.barra_de_navegacion>.consultar {
	top: 25%;
	left: 80%;

}

.main-container>.barra_de_navegacion>.consultar>#consultar {

	font-family: Tomorrow;
	font-size: 22px;

}

.main-container>.barra_de_navegacion>.consultar>.dropdown-menu {

	font-family: Tomorrow;
	font-size: 20px
}

.main-container>.barra_de_navegacion>.modificar {
	top: 25%;
	left: 15%;

}

.main-container>.barra_de_navegacion>.modificar #modificar {

	font-family: Tomorrow;
	font-size: 22px;

}

.main-container> .barra_de_navegacion> .modificar> .dropdown-menu {

	font-family: Tomorrow;
	font-size: 20px
}

.main-container>.barra_de_navegacion>
.reportes :hover,
.agregar :hover,
.modificar :hover,
.consultar :hover {

	background-color: #decef2;

}

.main-container> .barra_de_navegacion> .reportes:hover> .dropdown-menu {
	display: block;
	background-color: white;
}

.main-container> .barra_de_navegacion> .agregar:hover> .dropdown-menu {
	display: block;
	background-color: white;
}

.main-container> .barra_de_navegacion> .modificar:hover> .dropdown-menu {
	display: block;
	background-color: white;
}

.main-container> .barra_de_navegacion> .consultar:hover> .dropdown-menu {
	display: block;
	background-color: white;
}

.main-container>.barra_de_navegacion>.logo {
	top: 30%;
	left: 40%;
	width: 20vw;
	height: 7vh;
}

.main-container>.barra_de_navegacion>.flechas {
	top: 35px;
	left: 8px;
	width: 24px;
	height: 24px;
}

.main-container>.barra_de_navegacion>.flechas>.vector {
	top: 5%;
	left: 0px;
	width: 5px;
	height: 10px;
}

.main-container>.barra_de_navegacion>.flechas>.vector_ek1 {
	top: 5%;
	left: 6px;
	width: 5px;
	height: 10px;
}

.main-container>.barra_de_navegacion>.user_profile {
	top: 8%;
	left: 1%;
}

.outer {
	position: relative;
	margin: 0 50px;
	
}
.outer:hover{
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);	
}

.button {
	height: 45px;
    width: 135px;
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 25px;
	top: 85%;
	left: 85%;
}

.main-container> .outer button,.outer span{
	position:absolute;
	border-radius: 50px;

}

.outer button{
	
	background: #CDA8FD;
	color: black;
	font-family: Tomorrow;
    outline: none;
    border: none;
    font-size: 15px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
	
	
}
.outer button, .outer span{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.button button{
    height: 38px;
    width: 125px;
    border-radius: 50px;
}
.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span{
    border-radius: 50px;
}

.outer:hover span:nth-child(1){
    filter: blur(7px);
}

.outer:hover span:nth-child(2){
    filter:blur(14px);
}

.outer:hover{
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

#nombre_del_gerente {
	top: 69%;
	left: 3.5%;
	width: 20vw;
	height: 20vh;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 4vh;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}

#__0000 {
	top: 80%;
	left: 9%;
	width: 8vw;
	font-weight: bold;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 3vh;
	text-align: center;
	color: #FFFFFF;
}

#bienvenido {
	top: 32%;
	left: 46%;
	width: 51vw;
	height: 20vh;
	overflow: hidden;
	font-family: Tomorrow;
	font-size: 7vh;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

#saludo {
	position: relative;
	top: 56%;
	left: 32%;
	width: 55vw;
	height: 30vh;
	overflow: hidden;
	font-family: Tomorrow;
	font-size: 4vh;
	text-align: center;
	color: #000000;

}

#mask_group_ek2 {
	position: absolute;
	top: 21%;
	left: 66%;
	width: 20vh;
	height: 12vh;
}