.main-container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-175.82388596164deg , rgba(251.82,74.62,148.26,1) 0%, rgba(189.07,158.69,211.44,0.86000001430511) 48%, rgba(69.52,74.27,213.57,0.94999998807907) 87%);
}

body {
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar {
    display: none;
}


.rows {
    display: flex;
    overflow-wrap: inherit;
}

.rows > .cols-1 {
    width: 40%;
}

.rows > .cols-2 {
    width: 60%;
}

.rows > .cols-1 > #logo {
    margin: 40vh 0 0 15%;
    z-index: -999;
}

.rows > .cols-1 > .p-absolute {
    position: absolute;
    top: 32vh;
    left: calc(100% - 82vw);
}

#logo-switch {
    width: 60%;
    height: 60%;
}

.rows > .cols-2 > .login {
    background-color: #E7E8FF;
    border-radius: 70px 0 0 70px;
    margin: 0 0 0 0;
    height: 100vh;
 
}

.rows > .cols-2 > .login > .Username {
    position: relative;
    top: 15%;
    left: 25%;

}

.rows > .cols-2 > .login > .Username> .login-form {
    position: absolute;
    font-size: 45px;
    width: 500px;
    height: 50px;
    font-family: Tomorrow;
    border-radius: 15px;

}

.rows > .cols-2 > .login > .Password {
    position: relative;
    
    top: 25%;
    left:25%;

}

.rows > .cols-2 > .login > .Password> .login-form {
    position: absolute;
    font-size: 45px;
    width: 500px;
    height: 50px;
    border-radius: 15px;

}

.rows > .cols-2 > .login > .boton  {

    
   position: relative;

   top: 42% ;
   left: 40%;
}

.rows > .cols-2 > .login > .logo-control {
    position: relative;
    top: -2.5%;
    left: 10%;
}

.rows > .cols-2 > .login > .login-titulo {
    position: absolute;
    top: 16%;
    left: 63%;
    font-size: 27px;
    font-family: Tomorrow;
}

.rows > .cols-2 > .login > .forgot-password{
    position: relative;
    top: 64%;
    left: 56%;
    font-size: 18px;
    font-family: Tomorrow;
}

.rows > .cols-2 > .login > .forgot-password > a {
    color: #251E7A;
}

@media (max-width: 1000px){

    .rows { 
        display: flex;
        flex-wrap: wrap;
    }

    .rows > .cols-1 {
        display: none;
    }
    .rows > .cols-2 {
        width: 100%;
    }
    .rows > .cols-2 > .login {
        border-radius: 0;
    }
    .rows > .cols-2 > .login > .forgot-password {
        top: 71.5%;
        left: 65.5%;

    }

    .rows > .cols-2 > .login > .login-titulo{
        left: 43%;
    }

    .rows > .cols-2 > .login > .boton  {
        left: 46%;
    }
}