.main-container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-175.82388596164deg , rgba(251.82,74.62,148.26,1) 0%, rgba(189.07,158.69,211.44,0.86000001430511) 48%, rgba(69.52,74.27,213.57,0.94999998807907) 87%);
}

body {
    margin: 0;
    padding: 0;
}

.rows {
    display: flex;
    overflow-wrap: inherit;
}

.rows > .cols-1 {
    width: 40%;
}

.rows > .cols-2 {
    width: 60%;
}

.rows > .cols-1 > #logo {
    margin: 40vh 0 0 15%;
    z-index: -999;
}

.rows > .cols-1 > .p-absolute {
    position: absolute;
    top: 32vh;
    left: calc(100% - 82vw);
}

#logo-switch {
    width: 60%;
    height: 60%;
}

.rows > .cols-2 > .login {
    background-color: #E7E8FF;
    border-radius: 70px 0 0 70px;
    margin: 0 0 0 0;
    height: 100vh;
 
}

.rows > .cols-2 > .login > .Username {
    position: absolute;
    top: 30%;
    left: 50%;

}



.rows > .cols-2 > .login > .Password {
    position: absolute;
    top: 50%;
    left: 50%;

}